// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Custom variable
// $primary: #007419;

// Bootstrap
@import "bootstrap/scss/bootstrap";

li > div.nav-link:hover {
    cursor: pointer;
}

$breakpoint: 992px;

@mixin md {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

div#mainContent {
    width: calc(100vw - 280px);
    @include md {
        width: 100vw;
    }
}

.bootstrap-5-style .selectr-selected {
    background-color: #f8fafc;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.bootstrap-5-style .selectr-input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
