// Fonts
@import url("https://fonts.bunny.net/css?family=Inter");

// Variables
@import "variables";

// Custom variable
// $primary: #007419;

// Bootstrap
@import "bootstrap/scss/bootstrap";

li > div.nav-link:hover {
    cursor: pointer;
}

$breakpoint: 992px;

@mixin md {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

div#mainContent {
    width: calc(100vw - 280px);
    @include md {
        width: 100vw;
    }
}

div#patientCard {
    max-width: 100%;
    @include media-breakpoint-up(sm) {
        max-width: 25%;
    }
    @include media-breakpoint-up(md) {
        max-width: 20%;
    }
}

.bootstrap-5-style .selectr-selected {
    background-color: #f8fafc;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.bootstrap-5-style .selectr-input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-doctor {
    background-color: $pink-500;
    color: white;
}
.btn-doctor:hover {
    background-color: $pink-600;
    color: white;
}
.btn-doctor:active:focus {
    background-color: $pink-700;
    color: white;
}
.btn-pharmacy {
    background-color: $teal-700;
    color: white;
}
.btn-pharmacy:hover {
    background-color: $teal-800;
    color: white;
}
.btn-pharmacy:active:focus {
    background-color: $teal-900;
    color: white;
}
.btn-pharmacy.disabled {
    background-color: $teal-700;
    color: white;
}

#sidebarItem:hover:not(.active),
#sidebarChildItem:hover:not(.active) {
    background-color: $blue-100;
}

hr {
    color: $gray-700;
}

.page-item:hover:not(.active, .disabled) {
    cursor: pointer;
}

.patient-img {
    width: 100%;
    height: 350px;
    background-color: $blue-100;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// #loadingList,
// #myList {
//     scrollbar-width: none;
// }

#assignmentAction {
    background: rgb(0, 80, 241);
    background: linear-gradient(
        204deg,
        rgba(0, 80, 241, 0.5088235977984944) 13%,
        rgba(8, 85, 241, 0.5032213569021359) 45%,
        rgba(84, 190, 236, 0.4920168751094187) 100%
    );
    top: 55px;
    backdrop-filter: blur(15px) saturate(1.5);
}

#cashierAction,
#free-cashierAction {
    top: 55px;
    backdrop-filter: blur(20px) saturate(1.5);
    width: calc(100% + 48px);
    margin-left: -22px;
}

#paymentContainer,
#freePaymentContainer {
    backdrop-filter: blur(20px) saturate(1.5);
    width: calc(100% + 48px);
    margin-left: -22px;
}

@-moz-document url-prefix() {
    #mainContent {
        margin-left: 280px;
        @include md {
            margin-left: 0;
        }
    }
}

@supports not (-moz-appearance: none) {
    #mainContent {
        margin-left: 260px;
        padding-left: 2em;
        @include md {
            padding-left: 0;
            margin-left: 0;
        }
    }
}

#cardsRow {
    @include media-breakpoint-up(md) {
        top: 5em;
    }
}

#potraits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
